<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>

<body>
    <p class="text" style="color:rgb(224, 121, 230)">Да <span style="color:rgb(83, 231, 85)">здравствует</span> король!
    </p>
    <!-- 
    <script>
        const nav = window.navigator.userAgent;
        console.log(nav);
        const geo = navigator.geolocation;
        if (!navigator.geolocation) {
            console.error('Ваш браузер не поддерживает геолокацию!');
        } else {
            console.log('поддерживает геолокацию!');
        }
    </script> -->

</body>

</html>