* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: azure;
    padding: 30px 178px;
}

/* .center {
    margin: 0 auto;
    max-width: 1140px;
} */

.menu-logo {
    width: 62px;
    height: 46px;
}

.menu-book {
    width: 54px;
    height: 42px;
}

.btn-cart {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(7, 7, 7);
    color: aliceblue;
    cursor: pointer;
    transition: all ease-in-out .4s;
}

.btn-cart:hover {
    background-color: azure;
    color: blueviolet;
    border-color: blueviolet;
}



.products {
    display: grid;
    justify-content: space-evenly;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;

}

.product-item {
    border: 0.5px solid rgb(51, 50, 50);
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px 0;
    border-radius: 5px;
    overflow: hidden;
}

.product-item:hover {
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 0px 0px 14px rgb(49, 29, 54);
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.product__text {
    padding-top: 12px;
    padding-bottom: 24px;
    text-align: center;
    margin: 0 0 5px 0;
}

.buy-btn {
    margin-top: 5px;
    background-color: #524c4f;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.buy-btn:hover {
    color: blueviolet;
    border-color: blueviolet;
    background-color: rgb(223, 255, 255);
}