* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button:focus {
    outline: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: azure;
    padding: 30px 178px;
}

/* .center {
    margin: 0 auto;
    max-width: 1140px;
} */

.menu-logo {
    width: 62px;
    height: 46px;
}

.btn-cart {
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(7, 7, 7);
    color: aliceblue;
    cursor: pointer;
    transition: all ease-in-out .4s;
}

.btn-cart:hover {
    background-color: azure;
    color: blueviolet;
    border-color: blueviolet;
}

.cart {
    position: relative;
}

.cart-block {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
}

.cart-block:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.invisible {
    display: none;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}

.cart-item:not(:last-child) {
    margin-bottom: 20px;
}

.product-bio {
    display: flex;
}

.cart-item img {
    align-self: flex-start;
    margin-right: 15px;
}

.product-single-price {
    color: #474747;
    font-size: 0.5em;
}

.product-price {
    margin-left: 30px;
}

.product-desc {
    max-width: 150px;
}

.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}

.right-block {
    text-align: right;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.search-form {
    position: relative;
    margin-right: 50px;
    display: inline-block;
}

.search-field:focus {
    outline: none;
}

.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #b8b5b5;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #817e7e;
}

.products {
    display: grid;
    justify-content: space-around;
    column-gap: 22px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
}

.product-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px 0;
    border-radius: 5px;
    overflow: hidden;
    border: 0.4px solid #abeef6;
    box-shadow: 0 0 5px #474747;
}

/* .desc {
    border: 1px solid #c0c0c040;
    padding: 15px
} */


.product-item:hover {
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 0px 0px 16px rgb(49, 29, 54);
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
    padding-top: 14px;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.product__text {
    padding-top: 12px;
    padding-bottom: 24px;
    text-align: center;
    margin: 0 0 5px 0;
}

.buy-btn,
.del-btn {
    background-color: #524c4f;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
    margin-left: 25%;
    margin-bottom: 12px;
}

.buy-btn:hover,
.del-btn:hover {
    color: blueviolet;
    border-color: blueviolet;
    background-color: rgb(223, 255, 255);
}

footer {
    padding: 0 calc(50% - 590px);
    background-color: azure;
    color: #524c4f;
}

.footer-menu {
    display: flex;
    margin-top: 160px;
    padding-top: 14px;
    height: 56px;
    justify-content: space-between;
}

.footer__img {
    width: 32px;
    border-radius: 16px;
    background-color: azure;
    margin-top: 8px;
    margin-right: 6px;
}

.footer__img:hover {
    box-shadow: 0px 0px 6px rgb(116, 208, 239);
    transition: 0.3s;
}

.footer__par {
    margin-top: 12px;
}