<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div></div>
    <script>
        // с помощью оператора async можно сделать асин ф-цию и этот оператор работает в связке с await
        // await - специальный оператор, который заставит JS остановиться и дождаться отработки fetch
        // fetch - ф-ция, которая выполняет ajax запрос к серверу и возвращает объект промиса
        let usd = 0;
        async function f() {
            await fetch("https://www.cbr-xml-daily.ru/daily_json.js")
                .then(text => text.json())
                .then(data => {
                    console.log(data); // выводит весь объект
                    console.log(data.Valute.EUR); // выведет объект валюты евро
                    console.log(data.Valute.EUR.Value); // выведет текущий курс евро
                    usd = data.Valute.USD.Value; // актуальный курс доллара
                });
            console.log(usd);
        }
        f();

    </script>

</body>

</html>